body {
  background-color: #edf6f9;
}

.img-top {
  width: 100%;
  height: 300px;
}
.card {
  min-width: 280px;
  max-width: 350px;
  margin: 10px 5px;
  height: 700px;
  border: 1px solid #006d77;
  box-shadow: 5px 5px 10px #83c5be;
}
.display-4 {
  color: #e29578;
  font-weight: bold;
}
.btn {
  background-color: #e29578;
  outline: none;
  border: none;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}
.btn:hover {
  background-color: #bc6c25;
}

/* part 2  */
#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
}

#banner-message input,
select {
  padding: 5px 8px;
  margin: 5px 8px;
}

#breed_data {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 1rem;
  text-align: left;
  transition: all 0.2s;
  margin: 10px auto;
  width: 500px;
  border: 1px solid #006d77;
  box-shadow: 5px 5px 10px #83c5be;
}

#breed_image {
  background: #fff;
  margin: 0 auto;
  width: 100%;
}
